.app {
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++ fixe img*/
.app main #fixe-img {
    position: fixed;
    left: 96%;
    top: 86%;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}
.app main #fixe-img img {
    padding: 10px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.app header {
    background-color: brown;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 80px 1fr 80px 120px 80px 120px 80px;
}
.app header img {
    width: 80px;
    height: 80px;
}
.app header #home {
    grid-column: 1/2;
    grid-row: 1/2;
}
.app header #bankBild {
    grid-column: 3/3;
    grid-row: 1/2;
}
.app header #profileBild {
    grid-column: 5/5;
    grid-row: 1/2;
}
.app header #signOut {
    grid-column: 7/7;
    grid-row: 1/2;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++ Menu Home*/
#overlayHome {
    position: fixed;
    left: 0;
    top: 80px;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
}
#overlayHome .arrow-up {
    width: 0;
    height: 30px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 90px solid white;
}
#overlayHome.on {
    visibility: visible;
}
#menuHome {
    background-color: white;
    width: 250px;
    height: 280px;
    position: absolute;
    top: -110px;
    transform: translateY(50%);
    border-radius: 50px;
}
#menuHome a:nth-child(1) {
    margin-top: 15px;
}
#menuHome a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 10px 20px;
    text-decoration: none;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++ Menu Bank*/
#overlayBank {
    position: fixed;
    left: 63%;
    top: 80px;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
}
#overlayBank .arrow-up {
    width: 0;
    height: 30px;
    border-left: 120px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid white;
}
#overlayBank.on {
    visibility: visible;
}
#menuBank {
    background-color: white;
    width: 270px;
    height: 220px;
    position: absolute;
    top: -80px;
    transform: translateY(50%);
    border-radius: 50px;
}
#menuBank a:nth-child(1) {
    margin-top: 15px;
}
#menuBank a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 10px 20px;
    text-decoration: none;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++ Menu Profile*/
#overlayProfile {
    position: fixed;
    left: 77%;
    top: 80px;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
}
#overlayProfile .arrow-up {
    width: 0px;
    height: 30px;
    border-left: 120px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 120px solid white;
}
#overlayProfile.on {
    visibility: visible;
}
#menuProfile {
    background-color: white;
    width: 260px;
    height: 150px;
    position: absolute;
    top: -60px;
    transform: translateY(50%);
    border-radius: 50px;
}
#menuProfile a:nth-child(1) {
    margin-top: 15px;
}
#menuProfile a {
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: blue;
    padding: 10px 20px;
    text-decoration: none;
}
.app footer {
    grid-column: 1/2;
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.app footer a {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
