.RegistrationPart2 {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
}
#addBild {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#addBild p {
    margin-bottom: 15px;
}
#yesno {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
#statusId {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
#addPass {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#addPass p {
    margin-right: 15px;
    margin-bottom: 15px;
}
.RegistrationPart2 button {
    background-color: chocolate;
    margin-top: 15px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 25px;
}
#error {
    color: red;
    font-size: 25px;
}
#age,
#city {
    margin-bottom: 20px;
}
#age input,
#city input {
    width: 250px;
    height: 35px;
}
#age label,
#city label {
    margin-right: 20px;
}
#addStatus div {
    margin-left: 280px;
}
