.transfer {
    font-size: 30px;
    width: 100%;
    height: 110vh;
    margin-left: 20%;
}
#user_info p {
    margin-top: 30px;
}
#transfer_bereich {
    width: 70%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
#transfer_bereich div {
    margin-bottom: 30px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++ beneficiary*/
#beneficiary label {
    margin-right: 40px;
}
#beneficiary input {
    width: 50%;
    height: 30px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++ iban*/
#iban label {
    margin-right: 215px;
}
#iban input {
    width: 50%;
    height: 30px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++ amount*/
#amount {
    display: flex;
    flex-direction: row;
}
#amount p {
    margin-right: 190px;
}
#amount input {
    cursor: pointer;
    width: 20%;
    height: 30px;
    margin-top: 5px;
    margin-right: 50px;
}
#amount input :focus {
    background-color: crimson;
}
/*+++++++++++++++++++++++++++++++++++++++++++++ purpose*/
#purpose label {
    margin-right: 20px;
}
#purpose input {
    cursor: inherit;
    width: 50%;
    height: 30px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++ date*/
#date {
    display: flex;
    flex-direction: row;
}
#date p {
    margin-right: 155px;
}
#date input {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 50px;
    height: 30px;
}
#date input:focus:invalid + span::after {
    content: "✖";
}

#date input:focus + span::after {
    content: "✓";
}

/*+++++++++++++++++++++++++++++++++++++++++++++ time*/
#time {
    display: flex;
    flex-direction: row;
}
#time p {
    margin-right: 150px;
}
#time input {
    width: 20%;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 50px;
    height: 30px;
}
.transfer form button {
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    width: 120px;
    height: 35px;
    border: 2px solid black;
    background-color: greenyellow;
}
.transfer #successful {
    margin-top: 50px;
}
#pauseAccount {
    font-size: 40px;
    color: red;
}
